<ejs-diagram #diagram id="diagram" width="100%" height="700px">
          <e-nodes>
            <e-node id="begin" [height]="40" [offsetX]="300" [offsetY]="80" [shape]="terminator">
              <e-node-annotations>
                <e-node-annotation content="Begin"> </e-node-annotation>
              </e-node-annotations>
            </e-node>
            <e-node id="process" [height]="80" [offsetX]="300" [offsetY]="160" [shape]="decision">
              <e-node-annotations>
                <e-node-annotation content="Process"> </e-node-annotation>
              </e-node-annotations>
            </e-node>
            <e-node id="end" [height]="40" [offsetX]="300" [offsetY]="240" [shape]="process">
              <e-node-annotations>
                <e-node-annotation content="End"> </e-node-annotation>
              </e-node-annotations>
            </e-node>
          </e-nodes>

        </ejs-diagram>